.header{
    background-color: #ff8d44;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    
    
}
.header__logo{
    width: 200px;
    margin: 0 5px;
    object-fit: contain;
}

.header__search{
    
    display: flex;
    flex: 1;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon{
    background-color: #43200f;
    padding: 5px;
    height: 22px !important;
    color: white;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    /* display: none; */
    color: white;
    text-decoration: none;
}

.header__option{
display: flex;
flex-direction: column;
margin-left: 10px;
margin-right: 10px;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}



.mobile-menu-icon {
    display:none;

}

.header__checkout{
    /* /* display:flex; */
    color: white;
     text-decoration: none;
     
}

@media  screen and (max-width: 780px){

.header__logo{
    display:flex;
    position:absolute;
    top:-7px;
    /* justify-content:space-evenly; */
    margin:0 30%;
}

.header__optionBasket{
    display: flex;
    padding:0 30px;
    justify-content: left;
}

.header{
    padding:25px;
}

    .header__search{
       display:none;
        
    }

    .header__link{
        display: table;
        color: white;
        text-decoration: none;
        padding:25px;
        width:100%;
        text-align: center;
        transition:all 0.5s ease;
    }

    .header__link:hover{
        
        color:black;
        transition:250ms;
    }

    .header__nav{
        display: flex;
        flex-direction: column;
        width:100%;
        height: 500px;
        position: absolute;
        left: -200%;
        opacity: 1;
        transition: all 0.5s ease;
        padding:25px;
    }

    .header__nav__mobile {
       position: absolute;
       display: block;
       background-color:rgba(196, 121, 20, 0.8);
       left: 0;
       top: 73px;
       transition:all 0.5s ease-out ;
       width: 100%;

    }
    .mobile-menu-icon{
        display:block;
        position: absolute;
        font-size: 30px;
        color: white;
        top:15px;
        right:25px;
        background-color:#ff8d44;
        border:none;
    }

    .header__checkout{
        display: block; 
        color: white;
        text-decoration: none;
        width:100%;
        left: 0;
    }
}